{% extends 'layout.html' %}
{% block content %}
<style>
td {
  padding: 5px;
}

div.progress {
  vertical-align: middle;
}
</style>

<div class="col-xs-12 col-sm-12 col-md-12">
  <h1>{{ tld }}</h1>
</div>

<div class="col-xs-12 col-sm-12 col-md-12">
  <table style="font-size: 25px;">
    <thead>
      <tr style="margins: 5px">
        <td>
          domain
        </td>
        <td>
          words
        </td>
        <td style="min-width: 100px; width:100%; height: 100%">
          pages
        </td>
      </tr>
    </thead>
    <tbody>
      {% for domain in domains %}
      <tr>
        <td>
          <a href="/stats/domain/{{ domain.name }}">{{ domain.name }}</a>
        </td>
        <td>
          {{ domain.words }}
        </td>
        <td style="vertical-align:middle">
          {{ domain.pages }}
        </td>
      </tr>
      {% endfor %}
    <tbody>
  </table>
</div>
{% endblock %}