{% extends 'layout.html' %}
{% block content %}
<style>
td {
  padding: 5px;
}

div.progress {
  vertical-align: middle;
}
</style>

<div class="col-xs-12 col-sm-12 col-md-12">
  <h1>TLDs {{ total }}</h1>
</div>

<div class="col-xs-12 col-sm-12 col-md-12">
  <table style="font-size: 25px;">
    <thead>
      <tr style="margins: 5px">
        <td>
          tld
        </td>
        <td>
          #
        </td>
        <td style="min-width: 100px; width:100%; height: 100%">
          %
        </td>
      </tr>
    </thead>
    <tbody>
      {% for tld in tlds %}
      <tr>
        <td>
          <a href="/stats/tlds/{{ tld[0] }}">{{ tld[0] }}</a>
        </td>
        <td>
          {{ tld[1] }}
        </td>
        <td style="vertical-align:middle">
          <div class="progress">
            <div class="progress-bar" style="width: {{ tld[1] / total * 100 }}%;"></div>
          </div>
        </td>
      </tr>
      {% endfor %}
    <tbody>
  </table>
</div>
{% endblock %}